@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=PT+Serif:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #191919;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    height: 100px;
    width: 950px;
    position: fixed;
    padding: 16px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #191919;
    z-index: 5000;
    box-shadow:
    0 0.8px 2.2px rgba(0, 0, 0, 0.053),
    0 1.9px 5.3px rgba(0, 0, 0, 0.077),
    0 3.6px 10px rgba(0, 0, 0, 0.095),
    0 6.5px 17.9px rgba(0, 0, 0, 0.113),
    0 12.1px 33.4px rgba(0, 0, 0, 0.137),
    0 29px 80px rgba(0, 0, 0, 0.19)
    ;
    border-radius: .5em;
    /* top: 8px; */
}

.logo{
    /* padding: 16px; */
    display: flex;
    width: 50%;
    height: 100%;
}

.logo-img{
    width: auto;
    height: 100%;
    /* height: 100%; */
}

.logo-text{
    margin-left: 24px;
    color: #F9F9F9;
}

.logo-title{
    font-family: 'Montserrat';
    font-size:26px;
    font-weight: 700;
    margin: 0;
}

.logo-sub{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color: #F7C232;
}

.nav-links{
    width: 50%;
    height: 100%;
    color: #F9F9F9;
    list-style: none;
    /* position: fixed; */
    background-color: #191919;
    /* height: 100vh; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-left: auto; */
}

.nav-links li a {
    color: #F9F9F9;
    text-decoration: none;
    font-family: 'Montserrat';
    transition: color .2s ease-out;
    font-size: 14px;
}

.nav-links li a:hover{
    color: #F7C232;
}

.nav-links-celu{
    width: 50%;
    height: 100%;
    color: #F9F9F9;
    list-style: none;
    background-color: #191919;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#landing{
    position: relative;

    /* padding-top: 20vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.landingback{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    transition: opacity 1s ease-in-out;
    animation: bgfade 24s infinite;
    filter: brightness(45%) grayscale(100%);
}

.landing-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 800px;
    height: auto;
    /* margin: 16 0; */
    top: calc(50% - 70px);
}

.landing-title{
    font-family: 'Montserrat';
    color: #F7C232;
    font-size: 36pt;
    text-align: center;
}

.divline{
    height: 1px;
    width: 60%;
    margin: 16px;
    background: #FFFFFF;
}

.landing-text{
    font-family: 'PT Serif';
    color: #F9F9F9;
    font-weight: 400;
    font-size: 13pt;
    text-align: center;
}

#about, #deportes, #contacto{
    padding-top: 32px;
    padding: 24px;
    width: 100%;
    background: #191919;
    overflow: hidden;
}

#historia, #actividades, #contactanos{
    position: relative;
    /* top: 90vh; */
    width: 100%;
    height: 1px;
    transform: translateY(-100px);
}

.content{
    max-width: 950px;
    margin: 0 auto;
    /* margin-top: 24px; */
}

.content-title{
    font-family: 'Montserrat';
    color: #F7C232;
    font-size: 20pt
}

.about-text{
    font-family: 'PT Serif';
    color: #F9F9F9;
    font-size: 13pt;
}

.divline.about{
    margin-top: 10px;
    margin-left: 0;
    width: 100px;
}

.cards-container{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background: #f2f2f2;
    height: 350px;
    width: 300px;
    border-radius: .8em;
    overflow: hidden;
    padding: 4px;
    margin-bottom: 10px;
    transition: filter 0.2s;
    overflow: hidden;
}

.card:hover img{
    /* filter: blur(4px); */
    opacity: .8;
    filter: 
        contrast(50%) 
        brightness(150%)
        blur(2px)
    ;
}

.img-container{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-top-right-radius: .7em;
    border-top-left-radius: .7em;
}

.img-container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s;
}

.cardtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #5e5e5e;
    font-size: 12pt;
    margin: 12px;
}

.card-text{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    opacity: 0;
    transition: opacity 0.2s;
}

.card:hover .card-text{
    opacity: 1;
}

.card-contacto{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18pt;
    /* color: #F7C232; */
    margin-bottom: 8px;
}

.card-contact-info{
    /* font-family: 'PT Serif'; */
    font-weight: 500;
    font-family: 'Montserrat';
}



form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
  }
  form input, form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'montserrat';
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
  }
  form input:focus, form textarea:focus {
    -moz-box-shadow: 0 0px 2px #e74c3c !important;
    -webkit-box-shadow: 0 0px 2px #e74c3c !important;
    box-shadow: 0 0px 2px #e74c3c !important;
  }
  form #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
  }
  form #input-submit:hover {
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  }
  form textarea {
    height: 126px;
  }
  
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .right {
    width: 50%;
  }
  
  .left {
    margin-right: 2%;
  }
  
  @media (max-width: 480px) {
    .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
  }
  /* Clearfix */
  .cf:before,
  .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .cf:after {
    clear: both;
  }
  


@keyframes bgfade {
    0% {
        opacity:1;
    }
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    92% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

#landing img:nth-of-type(1) {
    animation-delay: 18s;
}
#landing img:nth-of-type(2) {
    animation-delay: 12s;
}
#landing img:nth-of-type(3) {
    animation-delay: 6s;
}
#landing img:nth-of-type(4) {
    animation-delay: 0;
}

@media screen and (max-width: 950px) {
    nav{
        width: 100%;
        border-radius: none;
    }
}

@media screen and (max-width: 768px) {
    
    .logo{
        height: 100%;
        width: 100%;
        /* align-items: center; */
    }

    .logo-img{
        height: 100%;
    }

    .logo-text{
        width: 100%;
        margin-left: 16px;
    }

    .logo-title{
        font-size: 16pt;
    }

    .logo-sub{
        font-size: 14pt;
    }
    
    .hamburger{
        /* position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2000; */
        right: 5%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all .2s ease-in-out;

    }    
    
    .line{
        /* width: 30px;
        height: 3px;
        background: #F9F9F9;
        margin: 5px; */
        width: 100%;
        height: 3px;
        background: #F9F9F9;
        border-radius: 5px;
        transition: all .2s ease-in-out;
    }

    .line::before,
    .line::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #F9F9F9;
        border-radius: 5px;
        transition: all .2s ease-in-out;
    }

    .line::before {
        transform: translateY(-10px);
    }

    .line::after {
        transform: translateY(10px);
    }

    .hamburger.open .line{
        transform: translateX(-30px);
        background: transparent;
    }

    .hamburger.open .line::before{
        transform: rotate(45deg) translate(16px, -16px);
    }
    .hamburger.open .line::after{
        transform: rotate(-45deg) translate(16px, 16px);
    }

    nav{
        position: fixed;
        height: 12vh;
        padding:12px;

    }

    .nav-links{
        display:none
    }

    .nav-links-celu{
        position: fixed;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        clip-path: circle(0px at 0 0);
        -webkit-clip-path: circle(0px at 95% -10%);
        transition: all 1s ease-out;
        pointer-events:none;
        z-index: 1000;
        padding: 80px;
    }

    .nav-links-celu.open{
        clip-path: circle(0px at 0 0);
        -webkit-clip-path: circle(150% at 95% -10%);
        pointer-events: all;
    }

    .nav-links-celu li {
        opacity: 0;
    }

    .nav-links-celu li a {
        color: #F9F9F9;
        text-decoration: none;
        font-family: 'Montserrat';
    }

    .nav-links-celu li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links-celu li:nth-child(2) {
        transition: all 0.5s ease 0.3s;
    }
    .nav-links-celu li:nth-child(3) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links-celu li:nth-child(4) {
        transition: all 0.5s ease 0.5s;
    }
    .nav-links-celu li.fade {
        opacity: 1;
    }

    .landing-title{
        font-size: 22pt;
    }

    .landing-content{
        padding: 16px;
    }

    #historia, #actividades, #contactanos{
        transform: translateY(-12vh);
    }
}